[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=VirtuaLab Messenger
Comment=VirtuaLab class text chat
Icon=xfwm4
Exec=/etc/virtualab/vm-communicator/launchchat
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false