[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=VirtuaLab Professor's Panel
Comment=VirtuaLab Professor's Panel
Icon=htop
Exec=/etc/virtualab/vm-communicator/launchprof
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false